/* components/Header/Header.css */
header {
    width: 100%;
    left: 0;
    top: 0;
    position: sticky;
    z-index: 1;
  }
  
  .navbar {
    background-color: #000000;
    width: 100%;
    height: 77px;
    display: flex;
    align-items: center;
    padding: 0 20px;
  }
  
  .header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100%;
  }
  
  .logo {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .logo-text {
    color: white;
    font-size: 32px;
    font-family: BMWTypeNext, sans-serif;
    white-space: nowrap;
    
  }
  
  .logo-small-image {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    object-fit: cover;
  }

  .logo-link {
    text-decoration: none;
    color: inherit; /* оставит цвет как у обычного текста */
  }
  
  .logo-link:hover {
    text-decoration: none; /* на всякий случай */
  }